<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--
    Copyright 2010 The myBatis Team

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<!--
    version: $Id: mybatis-config.xml 2970 2010-10-30 16:38:36Z eduardo.macarron $
-->
<configuration>
    <settings>
        <!-- changes from the defaults for testing -->
        <setting name="cacheEnabled" value="false" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
    </settings>
    <plugins>
		<plugin interceptor="com.dobase.common.mybatis.OffsetLimitInterceptor">
			<property name="oracle" value="com.dobase.common.mybatis.dialect.OracleDialect"/>
			<property name="mssql" value="com.dobase.common.mybatis.dialect.SQLServer2005Dialect"/>
			<property name="mysql" value="com.dobase.common.mybatis.dialect.MySQLDialect"/>
			<property name="db2" value="com.dobase.common.mybatis.dialect.DB2Dialect"/>
			<property name="h2" value="com.dobase.common.mybatis.dialect.H2Dialect"/>
			<property name="dm" value="com.dobase.common.mybatis.dialect.DmDialect"/>	
		</plugin>
	</plugins>
    
    <!-- 
    <typeAliases>
		<typeAlias type="com.test.model.User" alias="User"/>
	</typeAliases>
	 -->
	 
   <!--  <mappers>
        <mapper resource="conf/mybatis/mapper-CrudDemo.xml" />
        <mapper resource="conf/mybatis/mapper-BizContract.xml" />
        <mapper resource="conf/mybatis/mapper-BizContractDetail.xml" />
    </mappers> -->
    
	
</configuration>